web:
    hooks:
        stripeApi:
            title: "Stripe"
            publishableApiKey: "Publishable key"
            secretApiKey: "Secret key"
            registerApplePayDomain: "Register domain to ApplePay"
            masterPassCheckoutId: "Masterpass Checkout ID"
            applePayDomainRegistered: "Domain registered"
            appleDomainAssocFile: "Apple merchantId domain association"