web:
    hooks:
        stripeApi:
            title: "Stripe"
            publishableApiKey: "Veřejný klíč"
            secretApiKey: "Tajný klíč"
            registerApplePayDomain: "Registrace domény pro ApplePay"
            applePayDomainRegistered: "Doména registrována"
            appleDomainAssocFile: "apple-developer-merchantid-domain-association"