web:
    hooks:
        stripeApi:
            title: "Stripe"
            publishableApiKey: "Veřejný klíč"
            secretApiKey: "Tajný klíč"
            registerApplePayDomain: "Registrace domény pro ApplePay"
            masterPassCheckoutId: "Masterpass Checkout ID"
            applePayDomainRegistered: "Doména registrována"
            appleDomainAssocFile: "Apple merchantId domain association"