web:
    hooks:
        stripeApi:
            title: "Stripe"
            publishableApiKey: "Publishable key"
            secretApiKey: "Secret key"
            registerApplePayDomain: "Register domain to ApplePay"
            applePayDomainRegistered: "Domain registered"
            appleDomainAssocFile: "apple-developer-merchantid-domain-association"